.container
  -if player.playing
    .controls{action "pause"}
      %i.fa.fa-pause
  -else
    .controls{action "play"}
      %i.fa.fa-play
  .volume-control
    -if player.muted
      .volume-button{action "unmute"}
        %i{class=volumeButtonClass}
    -else
      .volume-button{action "mute"}
        %i{class=volumeButtonClass}
    <!-- Messy hack. Check: https://github.com/emberjs/ember.js/issues/11678 -->
    <input class="volume-bar" value={{player.volume}} type="range" min="0" max="1" step="0.01" onChange={{action "changeVolume" value="target.value"}} >
  -link-to "episodes.show" player.episode
  %a.episode-info(href="#")
    %time=player.currentTime
    =player.title
    %time{ datetime=player.releaseDate }=player.releaseDate
.buffer-bar{style=bufferStyle}
.progress-bar{style=progressStyle}
